body{
    background-color: #657a8f;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-top: 0;
    background-color: white;
    border-bottom: solid #1a2226 .2rem;
}

.nav-div{
    display: flex;
    width: 25%;
    justify-content: space-around;
}

li{
    list-style: none;
}

div{
    color: white;
}

a{
    font-size: xx-large;
    color: #1a2226;
    font-weight: bold;
    text-decoration: none;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-item{
    border: solid #384e63 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    cursor: pointer;
}

img{
    display: block;
    border: 1px solid #384e63;
}

.container{
    padding: 3em;
    color: #1a2226;
}
