body{
    background-color: #657a8f;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-top: 0;
    background-color: white;
    border-bottom: solid #1a2226 .2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn{
    font-size: xx-large;
    background-color: white;

  }

.nav-div{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

li{
    list-style: none;
}

div{
    color: white;
}

a{
    font-size: xx-large;
    color: #1a2226;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-item{
    border: solid #384e63 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    cursor: pointer;
}

img{
    display: block;
    border: 1px solid #384e63;
}

.container{
    padding: 3em;
    color: #1a2226;
}
